
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
}

.linkintext {
  color: #040B4F;
  font-weight: bold;
  text-decoration-line: underline;
}
a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  /*background-image: url('sciezka');*/
  background-size: cover;
  background-image: url('img/bgr1.jpeg');
  background-position: center;
  color: #FFF;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
 max-width: 150px;
 border-radius: 50%;
 border: 3px solid #FFF;
}

h1 {
  margin: 1em 0;
  text-transform: uppercase;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
}

main {
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.course, .skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


.course .title {
  font-weight: bold;
  text-tranform: uppercase;
  color: #040B4F;
  flex: 0 0 33.3%;
  max-width: 33%;
}

.course .description {
  flex: 0 0 66.6%;
  -ms-flex: 0 0 66.6%;
  max-width: 66.6;
}

.course .description p {
  padding-left: 1em;
}


.skills .column {
  -ms-flex: 0 0 50%%;
  flex: 0 0 50%;
  max-width: 50%;
}

.skills .column ul, ul.job-description {
  list-style-type: none;
}

.skills .column ul > li:before {
  content: "►";
  padding-right: 0.5em;
  color: #040B4F;
}

.school, .job-title {
  text-transform: capitalize;
}

.school span, .job-title span {
  color: #889499;
  text-decoration: underline;
}

ul.job-description li:before{
  content: "✔";
  padding-right: 0.5em;
  color: #040B4F;
}

footer {
 padding:  1em 1.5em;
 background-color: #040B4F;
 text-align: right;
 color: #FFF;
}

@media only screen and (max-width: 768px) {
  .course {
    display: block;
  }

  .course .title, .course .descrition {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .skills {
    display: block;
  }

  .skills .column {
    max-width: 100%;
  }
  footer {
    text-align: center;
  }
}
