/*@import url('https://fonts.googleapis.com/css?family=Raleway');*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  /*background-image: url('sciezka');*/
  background-size: cover;
  background-image: url('img/bg.jpg');
  background-position: center;
  color: white;
}

header section {
  margin: 0 auto;
}

header img {
 max-width: 150px;
 border-radius: 50%;
}

h1 {
  margin: 1em 0;
}

main {
  max-width: 1140px;
}

.course {
}

.course .title {
}

.course .descrition {
}

.school span {
  color: #A7B8BF;
}

footer {
 padding: 1em;
}
