/*@import url('https://fonts.googleapis.com/css?family=Raleway');*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
  border-bottom: 5px;
}

header {
  padding: 2em;
  text-align: center;
  /*background-image: url('sciezka');*/
  background-size: cover;
  background-image: url('img/bg.jpg');
  background-position: center;
  color: white;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
 max-width: 150px;
 border-radius: 50%;
}

h1 {
  margin: 1em 0;
  text-transform: uppercase;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
}

main {
  max-width: 1140px;
}

.course {
    display: flex;
    flex-wrap: wrap;
}

.course .title {
  font-weight: bold;
  text-tranform: uppercase;
  color: blue;
  flex: 0 0 33.3%;
  max-width: 33%
}

.course .descrition {
  flex: 0 0 66.6%;
  max-width: 66.6%
}

.course .descrition p {
  padding-left: 1em;
}

.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skills .column {
  -ms-flex: 0 0 50%%;
  flex: 0 0 50%;
  max-width: 50%;
}

.school span {
  color: #A7B8BF;
}

footer {
 padding: 1em;
}
